<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: var(--white); display: flex; justify-content: space-between;">
    <a class="navbar-brand">
        <img src="https://i.imgur.com/3onBlhj.png" alt="Repositório de Materiais Instrucionais" style="width: 7em; height: auto; margin-left: 3rem;">   
    </a>
  
    <span>
      <img class="rounded-circle" [src]="user?.photoUrl" style="width: 2.5rem; height: auto; margin-left: 2rem;">   
      <button style="margin: 0 1em; padding: 0.5rem 2rem;" class="btn btn-logout btn-lg" (click)="logOut()">Sair</button>
    </span>
      
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  </nav>