<!-- <div *ngIf="logged && insideSystem"  [@openClose]="isOpen ? 'open' : 'closed'" class="container-fluid sidebar" id="sidebar">
    <div style="margin-top: 7rem;">
      <div class="col-12 menu-sidebar btn btn-light btn-block" (click)="resizeSidebar()">
        <img src="https://i.imgur.com/cWRd9nN.png" class="icons" alt="ícone de explorar">
        <div class="title">
          <p class="hide">Explorar!</p>
        </div>
      </div>

      <div class="col-12 menu-sidebar btn btn-light btn-block" (click)="resizeSidebar()">
        <img src="https://i.imgur.com/XX9JBUv.png" class="icons" alt="ìcone de categoria">
        <div class="title">
          <p class="hide">Categorias</p>
        </div>
      </div>

      <div class="col-12 menu-sidebar btn btn-light btn-block" (click)="resizeSidebar()">
        <img src="https://i.imgur.com/2XCpa5T.png" class="icons" alt="ícone de envios recentes">
        <div class="title">
           <p class="hide">Envios recentes</p>
        </div>
      </div>

    </div>
  </div> -->