.home {
  margin-top: 5.2rem;
}

.news {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h2 {
    margin-left: 1rem;
    padding-top: 1rem;
  }
  .icons {
    width: 3rem;
  }
}

.category {
  margin-top: -2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  h2 {
    margin-left: 1rem;
    padding-top: 1rem;
  }
  .icons {
    width: 3rem;
  }
}

@import "~swiper/css";
@import "~swiper/css/pagination";
@import "~swiper/css/navigation";
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-container {
  margin-top: 50px;
  position: relative;
}


.right{
  cursor: pointer;
  background-color: white;
  font-size: 12pt;
  color: var(--primary-color);
  padding: 1rem;
  border-radius: 100%;
  position: sticky;
  z-index: (1000);
  margin-left: -1.2rem;
  margin-bottom: 2.5rem;
  -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;

  }
  .left{
    cursor: pointer;
    background-color: white;
    font-size: 12pt;
    color: var(--primary-color);
    padding: 1rem;
    border-radius: 100%;
    position: sticky;
    z-index: (1000);
    margin-right: -2.5rem;
    margin-bottom: 2.5rem;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    
  }
.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin: 20px auto;
  margin-top: -1.5rem;
}

.card,
.carousel {
  box-shadow: 0 4px 10px -6px #999;
}

.card-img-top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100%;
}

.card-footer {
  background-color: var(--primary-white);
}

.carousel-inner {
  height: 20rem;
  div {
    height: 20rem;
  }
}

.swiper-recents-web{
  height: 20rem
}

@media screen and (max-width: 767px) {
  .carousel-inner {
    height: 8rem;
    div {
      height: 8rem;
    }
  }
  .right, .left {
    height: 0rem;
    width: 0rem;
    padding: 0rem;
    font-size: 0pt;
    margin: -5rem; 
  }

  
  .swiper-recents{
    width: 100%;
    background-color: blue;
  }
}
