<div class="container-fluid" style="padding: 3rem 2rem;">

    <div id="breadcrumb" style="color:var(--primary-color); font-weight: bolder; margin-top: 3rem;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" routerLink="/home" style="cursor: pointer;">Início</li>
                <li class="breadcrumb-item active" aria-current="page">Materiais</li>
            </ol>
        </nav>
    </div>



    <div class="container-fluid d-flex align-items-center"
        style=" height: 5rem; border: solid 1px; border-color: rgb(245, 245, 245); margin: 2rem 0; -webkit-box-shadow: 0 8px 6px -6px #999; -moz-box-shadow: 0 8px 6px -6px #999; box-shadow: 0 8px 6px -6px #999;">


        <div class="container-fluid row d-flex justify-content-between">

            <div class="col-12 col-md-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="Ensino Básico"
                    style="width: 14.5rem;">
            </div>

            <div class="col-12 col-md-3 d-flex justify-content-end">
                <button (click)="goToCreate()" class="btn"
                    style="background-color: var(--primary-color); color: var(--white);">
                    Compartilhe seu material
                </button>
            </div>

        </div>
    </div>

    <div class="row">
        <div *ngFor="let item of materials" class="col-12 col-lg-3" style="margin-bottom: 3rem;">

            <div class="card" style="width: 100%; height: 22rem;">
                <div class="container"
                    style="height: 10rem; background-image: url({{item.image.url}}); background-position: center; background-size: cover;">
                    <div class="d-flex justify-content-end">


                        <div ngbDropdown container="body">
                            <div class="btn btn-outline material-icons-outlined" ngbDropdownToggle>more_vert</div>
                            <div ngbDropdownMenu>
                              <button ngbDropdownItem [routerLink]="['/materiais/editar', item.id]">Editar</button>
                              <button ngbDropdownItem (click)="deleteMaterial(item.id)">Remover</button>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="card-body" style="height:2rem">
                    <h6 class="card-title" style="font-size: 12pt;">{{item.title | titlecase}}</h6>
                    <p [innerHTML]="item.description | slice: 0:102">...</p>
                </div>
                <div class="card-footer" style="background-color: white; margin-top: 7rem;">
                    <button class="btn btn-block" [routerLink]="['/materiais', item.id]"
                        style="background-color: var(--primary-color); color: var(--white); font-weight: bold;">Visualizar
                        Conteúdo</button>

                </div>
            </div>
        </div>
    </div>



    <div class="nav justify-content-center" style="padding-top: 0.6rem; font-size: 12pt;">
        <ngb-pagination [collectionSize]="collectionSize" [pageSize]="12" [(page)]="page"
            (pageChange)="onPageChange(page)" aria-label="Default pagination"></ngb-pagination>
    </div>

</div>