<div *ngIf="material"class="container-fluid" style="margin-top: 5rem;">

    <div style="color:var(--primary-color); font-weight: bolder; margin-top: 3rem;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Início</li>
                <li class="breadcrumb-item" aria-current="page" routerLink="/materiais" style="cursor: pointer;">Materiais</li>
                <li class="breadcrumb-item active">Material: {{material.title}}</li>

            </ol>
        </nav>
    </div>

    <h1>{{material.title}}</h1>
    <span class="badge badge-success" style="margin-right: 0.5rem;">{{material.category}}</span>

    <div class="row" style="margin-top: 1rem; margin-bottom: 2rem;">
        <div class="col-8">
            <img [src]="material.image.url"
                class=" img" alt="..." style="height: 40rem; width: 100%;" >
        </div>
        <div class="col-4">
            <div class="row" *ngIf="material.attatchments">
                <div class="col">
                    <div class="card-right container" style="display: flex; align-items: center; flex-direction: column; justify-content: space-around; padding: 2rem;">
                        <h4 style="margin-bottom: 1rem;">Materiais de apoio</h4>
                        <div class="btn btn-block btn-lg" style="display: flex; align-items: center; justify-content: center;">                
                            <span class="material-icons" style="margin-right: 0.5rem;">download</span> 
                            <span (click)="goToAttatchments()">Baixar conteúdo</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 2rem;">
                <div class="col">
                    <div class="card-right container" style="display: flex; align-items: center; flex-direction: column; justify-content: space-around; padding: 2rem;">
                        <h4 style="margin-bottom: 1rem;">Links externos</h4>
                        <div class="btn btn-block btn-lg" style="display: flex; align-items: center; justify-content: center;">                
                            <span class="material-icons" style="margin-right: 0.5rem;">link</span> 
                            <span (click)="goToExternalLinks()">Acessar conteúdo</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-8">

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                        aria-controls="pills-home" aria-selected="true">Descrição</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                        aria-controls="pills-profile" aria-selected="false">Palavras Chaves</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
                        aria-controls="pills-contact" aria-selected="false">Autor</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <h3>Visão Geral</h3>
                    <p style="text-align: justify;">
                        {{material.description}}
                    </p>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <ul>
                        <li>Matemática</li>
                        <li>Computação</li>
                        <li>Algoritmo</li>
                        <li>Ensino Básico</li>
                        <li>Crianças</li>

                    </ul>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                    <h3>Autor: {{material.author.firstName}} {{material.author.lastName}}</h3>
                </div>
            </div>

        </div>
    </div>
</div>