<main class="container" style="padding: 5% 20%;">
    <h1 class="title is-3" style="text-align: center;">Hora do Cadastro!</h1>
    <form>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Juriscreiton" aria-describedby="emailHelp">
                  </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Sobrenome</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Souza" aria-describedby="emailHelp">
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Data de nascimento</label>
                    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Telefone</label>
                    <input type="phone" class="form-control" id="exampleInputEmail1" placeholder="(83) 99999-1234" aria-describedby="emailHelp">
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="email@email.com" aria-describedby="emailHelp">
                  </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Senha</label>
                    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Insira sua senha" aria-describedby="emailHelp">
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Repita o email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="email@email.com" aria-describedby="emailHelp">
                  </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="exampleInputEmail1">Repita a senha</label>
                    <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Insira sua senha" aria-describedby="emailHelp">
                  </div>
            </div>
        </div>
      </form>
      <div class="buttons" style="display: flex; justify-content: center; align-content: space-between;">
        <button type="button" class="btn btn-light">Cancelar</button>
        <button type="button" class="btn" style="margin-left: 1rem; background-color: #ff6600; color: #fff;">Cadastrar</button>
        
      </div>
           
</main>
        