p {
    text-align: center;
}


h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.buttons {
  display: flex; 
  justify-content: center; 
  align-content: space-between;
  margin-top: 1rem;
}

.btn{
  height: 4rem;
}
.registration {
    background-color: var(--primary);
    color: var(--white);
    height: 4rem;
    margin-left: 2rem;
}

.image{
    width: 100%;
    max-width: 530px;
    margin-top: 45rem;
    margin-left: 7rem;
}

.form-signin {
  width: 100%;
  max-width: 730px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.registration{
    background-color: var(--primary);
    color: var(--white);
}