<div class="container" style="margin-top: 6rem;">

    <div style="color:var(--primary-color); font-weight: bolder; margin-top: 6rem;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" routerLink="/home" style="cursor: pointer;">Início</li>
                <li class="breadcrumb-item active" aria-current="page">Categorias</li>
            </ol>
        </nav>
    </div>

    <h2 *ngIf="category">Listando os resultados da categoria: {{category.name | titlecase}}</h2>

    <div class="row" style="margin-top: 2rem;">

        <div class="col-md-4 col-12">

            <h2>Filtrar por categoria!</h2>
            <div class="container">

                <div *ngFor="let category of categories" class="form-check" style="margin-bottom: 1rem;">
                    <input class="form-check-input" type="radio" name="exampleRadios" value="{{category.id}}"
                        (change)="fetchMaterialsByCategory(category.id); getCategory(category.id)">
                    <label class="form-check-label">
                        {{category.name}}
                    </label>
                </div>
            </div>


        </div>
        <div class="col-sm-8 col-12 ">
            <div class="container">

                <div class="col-md-12" *ngFor="let material of materials">

                    <div class="card mb-3" (click)="goToMaterial(material.id)" style="cursor: pointer;">
                        <div class="row no-gutters">
                          <div class="col-md-6">
                            <img style="width: 100%;" [src]="material.image.url" class="card-img" alt="...">
                          </div>
                          <div class="col-md-6">
                            <div class="card-body">
                              <h2 class="card-title">{{material.title | titlecase}}</h2>
                              <p [innerHTML]="material.description | slice: 0:190   "></p>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>


        </div>
    </div>

</div>